.App {
  text-align: center;
}

h1{
  color: aqua;
  font-size: 60px;
}
button{
  font-size: 30px;
  border-radius: 20px;
  margin: 0 20px;
  padding: 10px;
  color: #fff;
}

.b1{
  border: none;
  background-color: blueviolet;
}

.b2{
  border: none;
  background-color: pink;
}

button:hover{
  border: solid 2px black;
  color: black;
  background-color: #fff;
}
button:active{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
